@{
    ViewData["Title"] = "Bad Request";
}

<div class="min-h-screen flex flex-col items-center justify-center bg-white text-center p-6">
    <div class="max-w-md">
        <img src="https://img.freepik.com/free-vector/400-error-bad-request-concept-illustration_114360-1921.jpg?t=st=1733120002~exp=1733123602~hmac=48ee04c985cec81f4504b1ca06d783e5a963b170b5bdb398f9ba84af4f62a7c0&w=360" alt="404 Image" class="mx-auto mb-6">
        <h1 class="text-3xl font-bold text-gray-800">400 - Bad Request</h1>
        <p class="text-gray-600 mt-4">
            The request could not be understood by the server due to malformed syntax
        </p>
        <a href="/" class="mt-6 inline-block px-6 py-2 bg-blue-500 text-white font-medium text-sm rounded-md shadow-md hover:bg-blue-600 transition">
            Go Back to Home
        </a>
    </div>
</div>