@{
    ViewData["Title"] = "Server Error";
}

<div class="min-h-screen flex flex-col items-center justify-center bg-white text-center p-6">
    <div class="max-w-md">
        <img src="https://img.freepik.com/free-vector/500-internal-server-error-concept-illustration_114360-1924.jpg?t=st=1733106407~exp=1733110007~hmac=5d16591605604d450245a28b5b885290edc9931e7be2af5ca58a64e937927095&w=360" alt="404 Image" class="mx-auto mb-6">
        <h1 class="text-3xl font-bold text-gray-800">500 - Internal Server Error</h1>
        <p class="text-gray-600 mt-4">
            Something went wrong on our end. Please try again later.
        </p>
        <a href="/" class="mt-6 inline-block px-6 py-2 bg-blue-500 text-white font-medium text-sm rounded-md shadow-md hover:bg-blue-600 transition">
            Go Back to Home
        </a>
    </div>
</div>
